.app {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  max-width: 1280px;
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fafafa;
  min-height: 100vh;
  height: 100%;
}
